{include file="header"/}
<div class="aui-container">
	<div class="aui-page">
		<!-- 头部 begin-->
		<div class="header">
			<div class="aui-header-bg" style="background:#ff5a5f;"></div>
			<div class="toolbar statusbar-padding" style="min-height:50px">
				<button class="bar-button back-button"><i class="icon icon-sao"></i></button>
				<div class="header-title" style="height:50px; padding:0 50px">
					<div class="title aui-title-input"><input type="text" placeholder="秋季新品"></div>
				</div>
				<a href="news.html">
					<button class="icon aui-icon-mag"></button>
				</a>
			</div>
		</div>
		<div style="height:50px"></div>
		<!-- 头部 End-->
		<!-- 首页轮播 begin -->
		<div class="aui-banner-content">
			<div id="focus" class="focus">
				<div class="bd">
					<div class="tempWrap" style="overflow:hidden; position:relative;">
						<ul id="Gallery" class="gallery" style="width: 2250px; position: relative; overflow: hidden; padding: 0px; margin: 0px; transition-duration: 200ms; transform: translate(-1125px, 0px) translateZ(0px);">
							<li style="display: table-cell; vertical-align: top; width: 375px;" >
								<a href=""><img src="__IMG__/img/banner1.jpg"></a>
							</li>
							<li style="display: table-cell; vertical-align: top; width: 375px;">
								<a href=""><img src="__IMG__/img/banner2.jpg"></a>
							</li>
							<li style="display: table-cell; vertical-align: top; width: 375px;" >
								<a href=""><img src="__IMG__/img/banner1.jpg"></a>
							</li>
							<li style="display: table-cell; vertical-align: top; width: 375px;">
								<a href=""><img src="__IMG__/img/banner2.jpg"></a>
							</li>
						</ul>
					</div>
				</div>
				<div class="hd">
					<ul>
						<li class="">1</li>
						<li class="">2</li>
						<li class="">3</li>
						<li class="">4</li>
					</ul>
				</div>
			</div>
		</div>
		<!-- 首页轮播 end -->
		<!-- 分类切换 begin -->
		<div class="" id="container" >
			<div id="main" style="transition-timing-function: cubic-bezier(0.1, 0.57, 0.1, 1); transition-duration: 0ms; transform: translate(0px, 0px) translateZ(0px);">
				<div id="scroller">
					<section class="slider" style="margin:0  auto; width:100%">
						<div class="swiper-container swiper-container2 swiper-container-horizontal">
							<div class="swiper-wrapper tuangouwidth" style="transition-duration: 0ms; transform: translate3d( 0px, 0px);">
								<div class="swiper-slide swiper-slide-duplicate " >
									<ul class="icon-list">
										<li class="icon">
											<a href="">
												<span class="icon-circle"><img src="__IMG__/img/icon-tuan.png"></span>
												<span class="icon-desc">红包</span>
											</a>
										</li>
										<li class="icon">
											<a href="">
												<span class="icon-circle"><img src="__IMG__/img/icon-tuan1.png"></span>
												<span class="icon-desc">签到</span>
											</a>
										</li>
										<li class="icon">
											<a href="">
												<span class="icon-circle"><img src="__IMG__/img/icon-tuan2.png"></span>
												<span class="icon-desc">新品</span>
											</a>
										</li>
										<li class="icon">
											<a href="">
												<span class="icon-circle"><img src="__IMG__/img/icon-tuan3.png"></span>
												<span class="icon-desc">团购</span>
											</a>
										</li>
										<li class="icon">
											<a href="">
												<span class="icon-circle"><img src="__IMG__/img/icon-tuan4.png"></span>
												<span class="icon-desc">分类</span>
											</a>
										</li>
										<li class="icon">
											<a href="life.html">
												<span class="icon-circle"><img src="__IMG__/img/icon-tuan5.png"></span>
												<span class="icon-desc">生活</span>
											</a>
										</li>
										<li class="icon">
											<a href="#">
												<span class="icon-circle"><img src="__IMG__/img/icon-tuan6.png"></span>
												<span class="icon-desc">秀秀</span>
											</a>
										</li>
										<li class="icon">
											<a href="#">
												<span class="icon-circle"><img src="__IMG__/img/icon-tuan7.png"></span>
												<span class="icon-desc">达人</span>
											</a>
										</li>
									</ul>
								</div>
					</section>
				</div>
			</div>
		</div>
		<!-- 分类切换 end -->
		<div class="devider t-line"></div>
		<div class="b-line" style="position:relative"></div>
		<div class="b-line">
			<a class="home-inform aui-home-inform" data-href="home-slogan.html" target="navView" rel="slogan">
				<i class="name icon-inform"></i>
				<span style="font-size:14px; padding-left:5px">APP新版本上线换一种方式购物</span>
			</a>
		</div>
		<div class="my-car-thumbnail"><img src="__IMG__/img/banner-car.jpg"></div>

		<div class="aui-title-h">
			<h2>大牌热卖</h2>
		</div>
		<div class="aui-flex">
			<div class="aui-flex-item aui-flex-items">
		<span>
			<a href="page.html"><img src="__IMG__/img/b1.jpg"></a>
		</span>
				<a href="#" class="aui-flex-box">新款上市</a>
			</div>
			<div class="aui-flex-item aui-flex-items">
		<span>
			<a href="page.html"><img src="__IMG__/img/b2.jpg"></a>
		</span>
				<a href="#" class="aui-flex-box">爱美装扮</a>

			</div>
			<div class="aui-flex-item aui-flex-items">
		<span>
			<a href="page.html"><img src="__IMG__/img/b3.jpg"></a>
		</span>
				<a href="#" class="aui-flex-box">热潮时代</a>
			</div>
		</div>
		<div class="aui-title-h">
			<h2>新品必购</h2>
		</div>
		<div class="aui-flex">
			<div class="aui-flex-item aui-flex-items1">
		<span>
			<img src="__IMG__/img/xiao1.jpg">
		</span>
			</div>
			<div class="aui-flex-item aui-flex-items1">
		<span>
			<img src="__IMG__/img/xiao2.jpg">
		</span>

			</div>
			<div class="aui-flex-item aui-flex-items1">
		<span>
			<img src="__IMG__/img/xiao3.jpg">
		</span>

			</div>
			<div class="aui-flex-item aui-flex-items1">
		<span>
			<img src="__IMG__/img/xiao34.jpg">
		</span>

			</div>
		</div>
		<div class="aui-title-h">
			<h2>新品上架</h2>
		</div>
		<div class="aui-flex">
			<div class="aui-flex-item aui-flex-items1 aui-flex-items2">
		<span>
			<img src="__IMG__/img/b4.jpg">
		</span>
				<a href="#" class="aui-flex-box">
					<h2>依依衣舍韩版2017春装新款女装宽松显瘦直筒裤破洞牛仔裤HH5296妠 </h2>
					<em>￥199.00</em>
				</a>
			</div>
			<div class="aui-flex-item aui-flex-items1 aui-flex-items2">
		<span>
			<img src="__IMG__/img/b5.jpg">
		</span>
				<a href="#" class="aui-flex-box">
					<h2>依依衣舍韩版2017春装新款女装宽松显瘦直筒裤破洞牛仔裤HH5296妠 </h2>
					<em>￥199.00</em>
				</a>
			</div>
		</div>
		<div class="aui-flex">
			<div class="aui-flex-item aui-flex-items1 aui-flex-items2">
		<span>
			<img src="__IMG__/img/b7.jpg">
		</span>
				<a href="page.html" class="aui-flex-box">
					<h2>依依衣舍韩版2017春装新款女装宽松显瘦直筒裤破洞牛仔裤HH5296妠 </h2>
					<em>￥199.00</em>
				</a>
			</div>
			<div class="aui-flex-item aui-flex-items1 aui-flex-items2">
		<span>
			<img src="__IMG__/img/b6.jpg">
		</span>
				<a href="#" class="aui-flex-box">
					<h2>依依衣舍韩版2017春装新款女装宽松显瘦直筒裤破洞牛仔裤HH5296妠 </h2>
					<em>￥199.00</em>
				</a>
			</div>
		</div>
		<div class="aui-flex">
			<div class="aui-flex-item aui-flex-items1 aui-flex-items2">
		<span>
			<img src="__IMG__/img/b8.jpg">
		</span>
				<a href="#" class="aui-flex-box">
					<h2>依依衣舍韩版2017春装新款女装宽松显瘦直筒裤破洞牛仔裤HH5296妠 </h2>
					<em>￥199.00</em>
				</a>
			</div>
			<div class="aui-flex-item aui-flex-items1 aui-flex-items2">
		<span>
			<img src="__IMG__/img/b4.jpg">
		</span>
				<a href="#" class="aui-flex-box">
					<h2>依依衣舍韩版2017春装新款女装宽松显瘦直筒裤破洞牛仔裤HH5296妠 </h2>
					<em>￥199.00</em>
				</a>
			</div>
		</div>
		<div class="aui-flex">
			<div class="aui-flex-item aui-flex-items1 aui-flex-items2">
		<span>
			<img src="__IMG__/img/b4.jpg">
		</span>
				<a href="#" class="aui-flex-box">
					<h2>依依衣舍韩版2017春装新款女装宽松显瘦直筒裤破洞牛仔裤HH5296妠 </h2>
					<em>￥199.00</em>
				</a>
			</div>
			<div class="aui-flex-item aui-flex-items1 aui-flex-items2">
		<span>
			<img src="__IMG__/img/b4.jpg">
		</span>
				<a href="#" class="aui-flex-box">
					<h2>依依衣舍韩版2017春装新款女装宽松显瘦直筒裤破洞牛仔裤HH5296妠 </h2>
					<em>￥199.00</em>
				</a>
			</div>
		</div>
		<div class="aui-flex">
			<div class="aui-flex-item aui-flex-items1 aui-flex-items2">
		<span>
			<img src="__IMG__/img/b4.jpg">
		</span>
				<a href="#" class="aui-flex-box">
					<h2>依依衣舍韩版2017春装新款女装宽松显瘦直筒裤破洞牛仔裤HH5296妠 </h2>
					<em>￥199.00</em>
				</a>
			</div>
			<div class="aui-flex-item aui-flex-items1 aui-flex-items2">
		<span>
			<img src="__IMG__/img/b4.jpg">
		</span>
				<a href="#" class="aui-flex-box">
					<h2>依依衣舍韩版2017春装新款女装宽松显瘦直筒裤破洞牛仔裤HH5296妠 </h2>
					<em>￥199.00</em>
				</a>
			</div>
		</div>
		<div style="height:44px"></div>
		<div class="tab-bar tab-bottom">
			<a class="tab-button active" href="index.html"><i class="tab-button-icon icon icon-home"></i><span class="tab-button-txt">首页</span></a>
			<a class="tab-button cached" href="life.html"><i class="tab-button-icon icon icon-exhibition" ></i><span class="tab-button-txt">生活</span></a>
			<a class="tab-button cached" href="classs.html"><i class="tab-button-icon icon icon-service" ></i><span class="tab-button-txt">分类</span></a>
			<a class="tab-button cached" href="car.html"><i class="tab-button-icon icon icon-car"></i><span class="tab-button-txt">购物车</span></a>
			<a class="tab-button cached" href="me.html"><i class="tab-button-icon icon icon-my" ></i><span class="tab-button-txt">我的</span></a>
		</div>
	</div>
</div>
{include file="foot"/}